p.important
  | Codeshelver will be shut down soon, now that its mission is accomplished and
  | !{linkTo('GitHub supports starring repositories', 'https://github.com/blog/1204-notifications-stars')}.
  | Until then, take the opportunity to !{linkTo('convert your shelved repos and star them', '/convert')}
  | automatically.